*{
    margin: 0;
    padding: 20px;

}
main{
    display: flex;
    flex-direction: row;

}
h2{
    display: flex;
    flex-direction: column;

}

.aulasmodulos td{
    border: 1px solid #ddd;
    padding: 0px;
}


.aulasmodulos tr:hover {background-color: #ddd;}



